In [1]:
from utils.time_func import last_date_of_month
from datetime import date, datetime
import pandas as pd
import numpy as np

from utils.finalyca_store import get_finalyca_scoped_session
db_session = get_finalyca_scoped_session(False)

In [24]:
from compass.investor_portfolio import get_normalized_portfolio_holdings, get_portfolio_performance_analysis_by_date
from compass.portfolio_db import *
from compass.portfolio_helper import *
from compass.portfolio_performance import *
from bizlogic.importer_helper import *

In [26]:
account_ids = ['744', '742', '741', '740', '743', '745', '746']
portfolio_date=  date(2022, 3, 31)
holdings_df = get_normalized_portfolio_holdings(db_session, account_ids, portfolio_date, False)

start_date = date(2021, 3, 31)
end_date = date(2022, 3, 31)
df = get_holding_performance_with_fundamentals(db_session, holdings_df, start_date, end_date, None)
df

,isin,name,total_price,weight,units,instrument_type,asset_class,issuer,sector,sub_sector,...,start_date,start_unit_price,end_date,end_unit_price,start_price,end_price,change_pr,pe,pbv,div_yld
0,INE006I01046,Astral Ltd,10114750.0,14.308738,5000.0,Equity,Equity,Astral Ltd,Capital Goods,Industrial Products,...,2021-03-31,1212.585,2022-03-31,1517.305,6062925.0,7586525.0,25.129785,94.9,22.61,0.1
1,INE484J01027,Godrej Properties Ltd,6688800.0,9.462249,4000.0,Equity,Equity,Godrej Properties Ltd,Realty,Realty,...,2021-03-31,1407.55,2022-03-31,1672.15,5630200.0,6688600.0,18.798622,225.96,5.22,0.0
2,INE003L07069,EMBASSY PROPERTY DEVELOPMENTS PRIVATE LIMITED ...,5756040.0,8.142729,10.0,NONE,Unknown,Unknown,Unknown,Unknown,...,None,None,None,None,None,None,None,None,None,None
3,INE238A01034,Axis Bank Ltd,5594452.5,7.914141,7350.0,Equity,Equity,Axis Bank Ltd,Financial Services,Banks,...,2021-03-31,697.5,2022-03-31,760.65,5126625.0,5590777.5,9.053763,20.16,2.11,0.0
4,INE020B07LB0,REC LIMITED 5.75 BD 30NV23 FVRS10000,5000000.0,7.073204,500.0,NONE,Unknown,Unknown,Unknown,Unknown,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,INE018A01030,Larsen & Toubro Ltd,81302.7,0.115014,46.0,Equity,Equity,Larsen & Toubro Ltd,Construction,Construction,...,2021-03-31,1418.625,2022-03-31,1767.55,65256.75,81307.3,24.596,37.29,4.08,2.04
65,INF090I01TF4,Franklin India Income Oppt-SP2 (G) (Wound up),25831.32,0.036542,53603.061,MUTUAL FUNDS,MUTUAL FUNDS,Franklin Templeton Mutual Fund,Mutual Funds,Unknown,...,None,None,None,None,None,None,None,0E-9,0E-9,None
66,INF732E01037,Nippon India ETF Nifty 1D Rate Liquid BeES,24568.0,0.034755,24.568,MUTUAL FUNDS,MUTUAL FUNDS,Nippon India Mutual Fund,Mutual Funds,Unknown,...,2021-03-31,2268.0,2022-03-31,2340.1,55720.224,57491.5768,3.179012,0E-9,0E-9,None
67,INF109K01VP3,ICICI Pru Liquid Fund - Regular (IDCW-D),12500.7,0.017684,124.822,MUTUAL FUNDS,MUTUAL FUNDS,ICICI Prudential Mutual Fund,Mutual Funds,Unknown,...,2021-03-31,295.737635,2022-03-31,305.442,36914.563026,38125.881324,3.28141,None,None,None
68,INF109K01FN1,ICICI Pru Long Term Equity Fund - (IDCW),11326.01,0.016022,498.504,MUTUAL FUNDS,MUTUAL FUNDS,ICICI Prudential Mutual Fund,Mutual Funds,Unknown,...,2021-03-31,472.20472,2022-03-31,582.53626,235395.941739,290396.655755,23.365192,24.300000000,3.520000000,None

In [25]:
account_ids = ['744', '742', '741', '740', '743', '745', '746']
portfolio_date=  date(2022, 3, 31)
holdings_df = get_normalized_portfolio_holdings(db_session, account_ids, portfolio_date, False)

start_date = date(2021, 3, 31)
end_date = date(2022, 3, 31)
df = get_holding_performance_with_fundamentals(db_session, holdings_df, start_date, end_date, None)
df

,isin,name,total_price,weight,units,instrument_type,asset_class,issuer,sector,sub_sector,...,start_date,start_unit_price,end_date,end_unit_price,start_price,end_price,change_pr,pe,pbv,div_yld
0,INE006I01046,Astral Ltd,10114750.0,14.308738,5000.0,Equity,Equity,Astral Ltd,Capital Goods,Industrial Products,...,2021-03-31,1212.585,2022-03-31,1517.305,6062925.0,7586525.0,25.129785,94.9,22.61,0.1
1,INE484J01027,Godrej Properties Ltd,6688800.0,9.462249,4000.0,Equity,Equity,Godrej Properties Ltd,Realty,Realty,...,2021-03-31,1407.55,2022-03-31,1672.15,5630200.0,6688600.0,18.798622,225.96,5.22,0.0
2,INE003L07069,EMBASSY PROPERTY DEVELOPMENTS PRIVATE LIMITED ...,5756040.0,8.142729,10.0,NONE,Unknown,Unknown,Unknown,Unknown,...,None,None,None,None,None,None,None,None,None,None
3,INE238A01034,Axis Bank Ltd,5594452.5,7.914141,7350.0,Equity,Equity,Axis Bank Ltd,Financial Services,Banks,...,2021-03-31,697.5,2022-03-31,760.65,5126625.0,5590777.5,9.053763,20.16,2.11,0.0
4,INE020B07LB0,REC LIMITED 5.75 BD 30NV23 FVRS10000,5000000.0,7.073204,500.0,NONE,Unknown,Unknown,Unknown,Unknown,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,INE018A01030,Larsen & Toubro Ltd,81302.7,0.115014,46.0,Equity,Equity,Larsen & Toubro Ltd,Construction,Construction,...,2021-03-31,1418.625,2022-03-31,1767.55,65256.75,81307.3,24.596,37.29,4.08,2.04
65,INF090I01TF4,Franklin India Income Oppt-SP2 (G) (Wound up),25831.32,0.036542,53603.061,MUTUAL FUNDS,MUTUAL FUNDS,Franklin Templeton Mutual Fund,Mutual Funds,Unknown,...,None,None,None,None,None,None,None,0E-9,0E-9,None
66,INF732E01037,Nippon India ETF Nifty 1D Rate Liquid BeES,24568.0,0.034755,24.568,MUTUAL FUNDS,MUTUAL FUNDS,Nippon India Mutual Fund,Mutual Funds,Unknown,...,2021-03-31,2268.0,2022-03-31,2340.1,55720.224,57491.5768,3.179012,0E-9,0E-9,None
67,INF109K01VP3,ICICI Pru Liquid Fund - Regular (IDCW-D),12500.7,0.017684,124.822,MUTUAL FUNDS,MUTUAL FUNDS,ICICI Prudential Mutual Fund,Mutual Funds,Unknown,...,2021-03-31,295.737635,2022-03-31,305.442,36914.563026,38125.881324,3.28141,None,None,None
68,INF109K01FN1,ICICI Pru Long Term Equity Fund - (IDCW),11326.01,0.016022,498.504,MUTUAL FUNDS,MUTUAL FUNDS,ICICI Prudential Mutual Fund,Mutual Funds,Unknown,...,2021-03-31,472.20472,2022-03-31,582.53626,235395.941739,290396.655755,23.365192,24.300000000,3.520000000,None

In [21]:
df_price_start_dt = get_portfolio_price_df(db_session, isin_list, start_date)
df_price_start_dt.rename(columns = {'date':'start_date', 'unit_price':'start_unit_price'}, inplace=True)

df_price_end_dt = get_portfolio_price_df(db_session, isin_list, end_date)
df_price_end_dt.rename(columns = {'date':'end_date', 'unit_price':'end_unit_price'}, inplace=True)

df = pd.merge(left=df_price_start_dt, right=df_price_end_dt, on=['lookup_code', "isin"], how='left')

missing = df.loc[df["start_unit_price"].isnull() & ~df["end_unit_price"].isnull()]

# TODO: Check differently for closing and opening prices
lst_eq_co_codes = missing[missing['isin'].str.startswith('INE')]['lookup_code'].to_list()
lst_mf_plan_ids = missing[missing['isin'].str.startswith('INF')]['lookup_code'].to_list()
df_missing_prices = get_missing_security_prices(db_session, lst_eq_co_codes, start_date) if len(lst_eq_co_codes) > 0 else pd.DataFrame()
df_missing_mf_pr = get_missing_mf_prices(db_session, lst_mf_plan_ids, start_date) if len(lst_mf_plan_ids) > 0 else pd.DataFrame()
df_missing_prices = pd.concat([df_missing_prices, df_missing_mf_pr])

if not df_missing_prices.empty:
    df_missing_prices.rename(columns={
        'date': 'start_date',
        'price': 'start_unit_price'
    }, inplace=True)
    df_missing_prices['lookup_code'] = df_missing_prices['lookup_code'].astype(str)
    df.set_index('lookup_code', inplace=True)
    df_missing_prices.set_index('lookup_code', inplace=True)
    df.update(df_missing_prices)
    df.reset_index(inplace=True)

performance = df.apply(pd.to_numeric, errors='coerce').fillna(df)

In [23]:
fundamental_df = get_portfolio_fundamental_data(db_session, df['isin'].to_list(), end_date)
df = pd.merge(left=performance, right=fundamental_df, on="isin", how='left')
df = df.fillna(np.nan).replace([np.nan], [None])
df

,lookup_code,isin,start_date,start_unit_price,end_date,end_unit_price,pe,pbv,div_yld
0,514,INE003A01024,2021-03-31,1844.05,2022-03-31,2368.425,79.73,8.15,0.34
1,27655,INE006I01046,2021-03-31,1212.585,2022-03-31,1517.305,94.9,22.61,0.1
2,2806,INE009A01021,2021-03-31,1367.9,2022-03-31,1907.025,39.11,12.53,1.43
3,44814,INE010V01017,2021-03-31,2654.35,2022-03-31,5103.675,62.09,14.7,0.43
4,3392,INE016A01026,2021-03-31,540.6,2022-03-31,536.375,65.83,16.79,0.89
...,...,...,...,...,...,...,...,...,...
58,8036,INE854D01024,2021-03-31,556.375,2022-03-31,888.0,72.82,14.43,0.0
59,5656,INE860A01027,2021-03-31,983.05,2022-03-31,1163.55,37.91,7.35,0.86
60,9491,INF732E01037,2021-03-31,2268.0,2022-03-31,2340.1,0E-9,0E-9,None
61,34958,INF109K01FN1,2021-03-31,472.20472,2022-03-31,582.53626,24.300000000,3.520000000,None
62,47615,INF109K01VP3,2021-03-31,295.737635,2022-03-31,305.442,None,None,None

In [22]:
# pd.merge(holdings_df, performance, on=["isin"], how='left')

,isin,name,total_price,weight,units,instrument_type,asset_class,issuer,sector,sub_sector,...,account_alias,unit_price,coupon_rate,maturity,portfolio_date,lookup_code,start_date,start_unit_price,end_date,end_unit_price
0,INE006I01046,Astral Ltd,10114750.00,14.308738,5000.000,Equity,Equity,Astral Ltd,Capital Goods,Industrial Products,...,IN30317320031945: KOTAK MAHINDRA BANK LIMITED,2022.9500,,,2022-03-31,27655.0,2021-03-31,1212.585,2022-03-31,1517.305
1,INE484J01027,Godrej Properties Ltd,6688800.00,9.462249,4000.000,Equity,Equity,Godrej Properties Ltd,Realty,Realty,...,IN30317320031945: KOTAK MAHINDRA BANK LIMITED,1672.2000,,,2022-03-31,15613.0,2021-03-31,1407.55,2022-03-31,1672.15
2,INE003L07069,EMBASSY PROPERTY DEVELOPMENTS PRIVATE LIMITED ...,5756040.00,8.142729,10.000,NONE,Unknown,Unknown,Unknown,Unknown,...,IN30226913790085: IIFL SECURITIES LIMITED,0.0000,0,,2022-03-31,NaN,NaN,NaN,NaN,NaN
3,INE238A01034,Axis Bank Ltd,5594452.50,7.914141,7350.000,Equity,Equity,Axis Bank Ltd,Financial Services,Banks,...,IN30317320031945: KOTAK MAHINDRA BANK LIMITED,761.1500,,,2022-03-31,5554.0,2021-03-31,697.5,2022-03-31,760.65
4,INE020B07LB0,REC LIMITED 5.75 BD 30NV23 FVRS10000,5000000.00,7.073204,500.000,NONE,Unknown,Unknown,Unknown,Unknown,...,IN30226913790085: IIFL SECURITIES LIMITED,0.0000,0,,2022-03-31,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,INE018A01030,Larsen & Toubro Ltd,81302.70,0.115014,46.000,Equity,Equity,Larsen & Toubro Ltd,Construction,Construction,...,1201090005695147: MOTILAL OSWAL FINANCIAL SERV...,1767.4500,,,2022-03-31,348.0,2021-03-31,1418.625,2022-03-31,1767.55
65,INF090I01TF4,Franklin India Income Oppt-SP2 (G) (Wound up),25831.32,0.036542,53603.061,MUTUAL FUNDS,MUTUAL FUNDS,Franklin Templeton Mutual Fund,Mutual Funds,Unknown,...,18905506/0,0.4819,,,2022-03-31,NaN,NaN,NaN,NaN,NaN
66,INF732E01037,Nippon India ETF Nifty 1D Rate Liquid BeES,24568.00,0.034755,24.568,MUTUAL FUNDS,MUTUAL FUNDS,Nippon India Mutual Fund,Mutual Funds,Unknown,...,IN30226913790085: IIFL SECURITIES LIMITED,1000.0000,,,2022-03-31,9491.0,2021-03-31,2268.0,2022-03-31,2340.1
67,INF109K01VP3,ICICI Pru Liquid Fund - Regular (IDCW-D),12500.70,0.017684,124.822,MUTUAL FUNDS,MUTUAL FUNDS,ICICI Prudential Mutual Fund,Mutual Funds,Unknown,...,12718503/23,100.1482,,,2022-03-31,47615.0,2021-03-31,295.737635,2022-03-31,305.442
68,INF109K01FN1,ICICI Pru Long Term Equity Fund - (IDCW),11326.01,0.016022,498.504,MUTUAL FUNDS,MUTUAL FUNDS,ICICI Prudential Mutual Fund,Mutual Funds,Unknown,...,866648/44,22.7200,,,2022-03-31,34958.0,2021-03-31,472.20472,2022-03-31,582.53626

In [20]:
df

,lookup_code,isin,start_date,start_unit_price,end_date,end_unit_price
0,514,INE003A01024,2021-03-31,1844.05,2022-03-31,2368.425
1,27655,INE006I01046,2021-03-31,1212.585,2022-03-31,1517.305
2,2806,INE009A01021,2021-03-31,1367.9,2022-03-31,1907.025
3,44814,INE010V01017,2021-03-31,2654.35,2022-03-31,5103.675
4,3392,INE016A01026,2021-03-31,540.6,2022-03-31,536.375
...,...,...,...,...,...,...
58,8036,INE854D01024,2021-03-31,556.375,2022-03-31,888.0
59,5656,INE860A01027,2021-03-31,983.05,2022-03-31,1163.55
60,9491,INF732E01037,2021-03-31,2268.0,2022-03-31,2340.1
61,34958,INF109K01FN1,2021-03-31,472.20472,2022-03-31,582.53626
62,47615,INF109K01VP3,2021-03-31,295.737635,2022-03-31,305.442